<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
      <form action="">
        <div class="mb-3">
          <label for="searchMovie" class="form-label">Search for movie</label>
          <input type="text" class="form-control" id="searchMovie" name="searchMovie">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <p> Searching for {{searchTerm}}</p>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
          <div class="card" style="width: 18rem;">
            <img src="{{movie.image.url}}" class="card-img-top" alt="{{movie.title}}">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.description}}</p>
              {% if movie.url %}
                <a href="{{movie.url}}" class="btn btn-primary">Movie Link</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <br>
        <br>
        <br>
        <h2>Join our mailing list</h2>
        <form action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          <div class = "mb-3">
            <label for="email" class="form-label"> Enter your email: </label>
            <input type="email" class="form-control" name="email">
          </div>
          <button type="submit" class="btn btn-primary">Sign-up</button>
        </form>
      </div>
      <br>
    </div>


    {% endblock content %}
</body>
</html>